body{
    /*font-family: 'Open Sans', sans-serif;*/
}


/*h1{float:left; width:100%; color:#232323; margin-bottom:30px; font-size: 14px;}
h1 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h1 a{color:#131313; font-weight:bold;}*/



/*Profile card 2*/
.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.profile-card-2 .card-body{
    position:relative;
     
}
.profile-card-2 .profile {
  border-radius: 50%;
  position: fixed;
  top: -42px;
  left: 15%;
  max-width: 75px;
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-2 h5{
    font-weight:600;
    color:#6ab04c;
}
.profile-card-2 .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card-2 .icon-block{
    float:left;
    width:100%;
}
.profile-card-2 .icon-block a{
    text-decoration:none;
}
.profile-card-2 i {
  display: inline-block;
    font-size: 16px;
    color: #D19806;
    text-align: center;
    border: 1px solid #;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-2 i:hover {
  background-color:#D19806;
  color:#fff;
}

#card-size{
/*margin-top: 50px;*/
}

#card-group{
/*margin-top: 50px;*/
background: #f8f9fa;
height: 420px;

}

#card2{
margin-top: 20px;
/*padding: 20px;*/
height: 20px;
}

#card3{
margin-top: 110px;
height: 230px;


}

#upload{
margin-top: -50px;

}

#name{
margin-top: 20px;
color: #0c065f;
}


#btn2{
background-color: #D19806;
color: #fff;


}
#btn2:hover{
background-color: #fff;
color: #D19806;


}
